<ul class="pagination justify-content-center">
  <li class="page-item">
    <a href="/boards/<%= page - 1  %>" class="page-link">&lt;&lt; prev</a>
  </li>
  <li class="page-item">
    <a href="/boards/<%= page + 1  %>" class="page-link">Next &gt;&gt;</a>
  </li>
</ul>
